<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCVManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenCVManager.Properties.Settings>
            <setting name="AvailableVersions" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_x86" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_x64" serializeAs="String">
                <value />
            </setting>
        </OpenCVManager.Properties.Settings>
    </userSettings>
</configuration>